<!doctype html>
<html>

    <head>
	    <meta charset="UTF-8">
        <title>FortuneBank</title>
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo">
                  <h3>FortuneBank</h3>
                </div>
                <ul class="nav-area">
                    <li><a href = "#" >home</a></li>
                    <li><a href = "#" >about us</a></li>
                    <li><a href = "#" >contact</a></li>
                </ul>
            </div>
            <div class="welcome-text">
                <h2>Founded in the year of 1970, we are a proud bank having over 20 million customers in India and abroad.</h1>
                <a href="/allcustomers">our customers</a>
            </div>
        </header>
    </body>
</html>